VITE_API_URL=https://blood-donation-server-pria.onrender.com

VITE_apiKey=AIzaSyC5lMierV-D9lMfwBwUJDUYgg7y7OSyao0
VITE_authDomain=red-love-donation.firebaseapp.com
VITE_projectId=red-love-donation
VITE_storageBucket=red-love-donation.firebasestorage.app
VITE_messagingSenderId=37364974954
VITE_appId=1:37364974954:web:1916361a51eba00f6ad113

VITE_IMAGEBB_API_KEY=cd8b3128ced965bd30c6d3f036974e71
VITE_STRIPE_KEY=your_stripe_publishable_key
